.form-control{
    color: black;
    background-color: rgb(183, 193, 201);
    border-radius: 10px;
    border-style: solid gray;
    margin: auto;
    align-items: center;
    width: 90%;
    padding: 10px 20px;
}
.form-element{
    padding:5px;
    text-align: left;
}

.form-element label{
    font-weight: bold;
    color: rgb(22, 22, 22);
    margin-left: 3px;
    padding-bottom: 10px;
}
.form-element input{
    border-radius: 6px;
    border: 1px solid #282929;
    background-color: thistle;
    width: 100%;
    padding: 5px;

}
.form-element button{
    border: 1px solid gray;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: teal;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}